<div class="bets" ng-app="bets" ng-controller="betsStart">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">冠军</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">亚军</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第三名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第四名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第五名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第六名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第七名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第八名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第九名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">第十名</span>
        <button type="button" class="btn btn-default one">1</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default two">2</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default three">3</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default four">4</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default five">5</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default six">6</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default seven">7</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default eight">8</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default nine">9</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
        <button type="button" class="btn btn-default ten">0</button>
        <input type="text" class="form-control btn-width" placeholder="下注金额" aria-describedby="basic-addon3">
    </div>
    <div class="bets-but">
        <button type="button" class="btn btn-primary btn-lg" ng-click="StartBets()">点击下注</button>
        
    </div>

</div>
<button type="button" class="btn btn-primary btn-lg" onclick="StartBets1()">点击下注1</button>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
<script type="text/javascript">
    //var bets = angular.module('bets', []);
    //bets.controller('betsStart', function ($scope, $http) {
    //    $scope.StartBets = function () {
    //        var url11 = "Infos/InsertOrder?v=" + Math.random();
    //        p = function () {
    //            for (var i, t = "", n = 1; n <= 32; n++) i = Math.floor(Math.random() * 16).toString(16), t += i, (n == 8 || n == 12 || n == 16 || n == 20) && (t += "-");
    //            return t
    //        };
    //        w = { lid: "6", isOddsAuto: 1, periods: "", orders: "", tid: 1, Token: p() };
    //        //$http({
    //        //    method: 'POST',
    //        //    dataType: 'json',
    //        //    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
    //        //    url: '/Bets/StartBets',
    //        //    data: JSON.stringify({ url22: url11 })
    //        //}).then(function successCallback(response) {
    //        //    alert(response.data);
    //        //}, function errorCallback(response) {
    //        //    // 请求失败执行代码
    //        //    alert("请求失败！");
    //        //    });
    //        alert(url11);
    //        $.ajax({
    //            url: '/Bets/StartBets',
    //            dataType: "text",
    //            type: "post",
    //            data: { url: url11 },
    //            success: function (r) { alert(r) }
    //        });
    //        //$.post('/Bets/StartBets', contentType: 'application/x-www-form-urlencoded; charset=UTF-8',{ url: url11 }, function (r) {
    //        //    alert(r)
    //        //})
    //    }
    //});

    function StartBets1() {
        alert('11')
        $.ajax({
            url: '/Bets/StartBets',
            dataType: "text",
            type: "post",
            data: { url2: "Infos/InsertOrder?v="+ Math.random() },
            success: function (r) { alert(r) }
        });
    }
</script>
